body {
    background-color: black;
    height: 100vh;
    margin: 0rem;
    overflow: hidden; 
  } 

 @keyframes rotate{
    from {
        rotate: 0deg;
    }
    /* 50%{
        scale: 1 1.5;
    } */

    to{
        rotate: 360deg;
    }
 } 

#blob{
    background-color: white;
    height: 1500px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, #FFFFFF    ,     #000000);
    animation: rotate 20s infinite;
    filter: blur(600px);
}


h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(20rem, 10vw, 10rem);
    color: white;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    margin: 0rem;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    z-index: 3;
  }
  
  /* h1:hover {
    background-color: white;
    color: black;
  } */